aside {
    width: 320px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 30px 20px;
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: var(--color-text-primary);
}

aside form {
    margin-top: 30px;
}

aside form .input-block + .input-block {
    margin-top: 20px;
}

aside form .input-block label {
    color: var(--color-text-label);
    font-size: 14px;
    font-weight: bold;
    display: block;
}

aside form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: var(--color-text-secondary);
    border: 0;
    border-bottom: 1px solid #eee;
}

aside form button {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background-color: var(--color-button-bg);
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-white);
    cursor: pointer;
    transition: background-color 0.5s;
}

aside form button:hover {
    background-color: var(--color-button-bg-hover);
}