main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

@media (max-width: 650px) {
    main ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

.dev-error {
    display: block;
    text-align: center;
    color: var(--color-text-error);
    font-size: 20px;
    font-weight: bold;
}